
.wrapper{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.element{
    background-color: rgb(24, 24, 24);
    height: 8rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 0 .5rem;
    border-radius: 1rem;
    
}

.clock{
    
    width: 5rem;
    height: 5rem;
    fill: white;
}

.contador{
    color: white;
    font-size: 5rem;
}